@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

  /* ___ Navigation Bar ___ */
.nav-bar {
  background-color: #d2d3db;
  padding: 25px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

  .Brand {
    display:flex;
    margin-right: 50px;
  }

    #logo {
      background-color: yellow;
      width: 35px;
      margin-right: 10px;
      height: 35px;
      border-radius: 50%;
    }

.nav-bar ul li {
  margin: 0 15px;
    font-size: 23px;
}

.nav-bar ul li a {
  text-decoration: none;
  font-weight: 525;
  color: #484b6a;
}

.nav-bar ul li i {
  color: #484b6a;
  margin: 0 0 0 0;
}

.nav-bar ul li:hover {
  cursor: pointer;
}

  .Cart-Btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 7.5px;
    width: 80px;
    overflow: hidden;
  }

  i .bxs-cart-alt {
    margin-right: 10px;
  }

/* ___ END OF NAVBAR ___ */



  /* ___ THEMES ___ */
.theme-light #Theme-A {
  background-color: yellow;
}
.theme-light #Theme-B {
  background-color: #d2d3db;
}
.theme-light #Theme-C {
  background-color: green;
}
.theme-light #Theme-Btn-A {
  background-color: Black;
}
.theme-light #Theme-Text {
  color: #484b6a;
}



.theme-dark #Theme-A {
  background-color: aqua;
}
.theme-dark #Theme-B {
  background-color: #14110b;
}
.theme-dark #Theme-C {
  background-color: violet;
}
.theme-dark #Theme-Btn-A {
  background-color: #d2d3db;
}
.theme-dark #Theme-Text {
  color: white;
}
/* ___ END OF THEMES___ */